.navigation {
padding-inline: 2rem;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2, max-content) 5rem;
}

.navigation .search-lb {
  padding: var(--component-pdg);
  border: 2px solid red;
}

.logo {
  max-width: 10rem;
}
.user-logo, .avatar-link {
  max-width: 4rem;
}
.user-logo img, .avatar-link img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* PANEL LIST */

.panel-list {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  place-content: center;
  width: 10rem;
  backdrop-filter: blur(20rem);
}
